.messenger-box
{
    max-height: 604px;
    min-height: 604px;
    overflow-y: scroll;

    scrollbar-width: none;
}
.messenger-box::-webkit-scrollbar {

    display: none;
}

.user-typing-container
{
    position: relative;
}

.user-typing-container .label
{
    position: absolute;
    top: -15px;
    left: 0;
}
