<div class="card">
  <div class="card-body">
    <h4 class="card-title box-title" *ngIf="!!addressee">{{ addressee.fullName }}</h4>
    <hr/>
    <div class="card-content">
      <div #messageContainer class="messenger-box">
        <ul>

          <ng-container *ngIf="!!messages">
            <li *ngFor="let message of messages"
                app-client-contact-message
                [message]="message"
                [isMine]="message.author.id === (currentUser | async).id"
            ></li>
          </ng-container>

        </ul>

      </div>
      <div class="user-typing-container">
        <app-client-addressee-typing
                #typingIndicator
                [addressee]="addressee"
                [displayDelay]="500"
                class="label"
        ></app-client-addressee-typing>
      </div>
      <app-client-message-form
              [addressee]="addressee"
              (onMessageCreate)="onMessageCreateHandler($event)"
              [user]="(currentUser | async)"
      ></app-client-message-form>
    </div>
  </div>
</div>
