<div class="row" *ngIf="!!user && !!(authorizedUser | async)">

  <div class="col-md-4">

    <section class="card">
      <div class="card-header user-header alt bg-info">
        <div class="media">
          <span style="width: 85px; height: 85px;">

            <app-user-avatar
                    [user]="(user.id === (authorizedUser | async).id) ? (authorizedUser | async) : user"
                    [size]="'medium'"
            ></app-user-avatar>

          </span>
          <div class="media-body">
            <h2 class="text-light display-6">{{ user.fullName }}</h2>
            <p></p>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">

        <ng-container *ngIf="user.id === (authorizedUser | async).id">
          <li class="list-group-item">
            <app-client-avatar-manager [user]="authorizedUser | async"></app-client-avatar-manager>
            <!--          <a href="#"> <i class="fa fa-upload"></i> Change avatar</a>&nbsp;<span class="text-muted">or</span>&nbsp;<a href="#"> <i class="fa fa-remove"></i> Remove</a>-->
          </li>
          <li class="list-group-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]=" '/client/profile/' + user.id "> <i class="fa fa-bell-o"></i> About</a>
          </li>
          <li class="list-group-item" [routerLinkActive]="'active'">
            <a [routerLink]=" '/client/profile/' + user.id + '/contacts' "> <i class="fa fa-bell-o"></i> Messages <span class="badge badge-success pull-right">11</span></a>
          </li>
        </ng-container>

        <ng-container *ngIf="user.id !== (authorizedUser | async).id">

          <li class="list-group-item">
            <a href="#"> <i class="fa fa-tasks"></i> Send Message</a>
          </li>
          <li class="list-group-item">
            <a href="#"> <i class="fa fa-tasks"></i> Block the User</a>
          </li>

        </ng-container>


<!--        <li class="list-group-item">-->
<!--          <a href="#"> <i class="fa fa-tasks"></i> Recent Activity <span class="badge badge-danger pull-right">15</span></a>-->
<!--        </li>-->
<!--        <li class="list-group-item">-->
<!--          <a href="#"> <i class="fa fa-bell-o"></i> Notification <span class="badge badge-success pull-right">11</span></a>-->
<!--        </li>-->
<!--        <li class="list-group-item">-->
<!--          <a href="#"> <i class="fa fa-comments-o"></i> Message <span class="badge badge-warning pull-right r-activity">03</span></a>-->
<!--        </li>-->
      </ul>
    </section>

  </div>


  <div class="col-md-8">

    <router-outlet></router-outlet>

  </div>

</div>
