<div class="row" *ngIf="!!user && !!(authorizedUser | async)">

  <div class="col-md-4">

    <section class="card">
      <div class="card-header user-header alt bg-info">
        <div class="media">
          <span style="width: 85px; height: 85px;">

            <app-user-avatar
                    [user]="(user.id === (authorizedUser | async).id) ? (authorizedUser | async) : user"
                    [size]="'medium'"
            ></app-user-avatar>

          </span>
          <div class="media-body">
            <h2 class="text-light display-6">{{ user.fullName }}</h2>
            <p></p>
          </div>
        </div>
      </div>


        <ng-container *ngIf="user.id === (authorizedUser | async).id">
          <app-client-my-menu [user]="authorizedUser | async"></app-client-my-menu>
        </ng-container>

        <ng-container *ngIf="user.id !== (authorizedUser | async).id">
          <ul class="list-group list-group-flush">

            <li class="list-group-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
              <a [routerLink]="'/client/profile/' + user.id"> <i class="fa fa-user"></i> Profile</a>
            </li>

            <li class="list-group-item" [routerLinkActive]="'active'">
              <a [routerLink]="'/client/profile/contacts/' + user.id"> <i class="fa fa-envelope"></i> Send Message</a>
            </li>
            <li class="list-group-item">
              <a href="#"> <i class="fa fa-tasks"></i> Block the User</a>
            </li>
          </ul>
        </ng-container>

    </section>

  </div>


  <div class="col-md-8">

    <router-outlet></router-outlet>

  </div>

</div>
