<ng-container *ngIf="isMine">

  <div class="msg-container msg-sent">
    <div class="avatar">
      <app-user-avatar [user]="message.author" [size]="'small'"></app-user-avatar>
      <div class="send-time" app-date-time [value]="message.createdAt"></div>
    </div>
    <div class="msg-box" [ngClass]="isDeleted ? 'removed' : ''">
      <div class="inner-box pull-right" >

        <div class="controls" *ngIf="!isDeleted">
          <span class="control mr-2" (click)="onEditClickHandler($event)">
            <i class="fa fa-pencil"></i>
          </span>
          <span class="control mr-2" (click)="onDeleteClickHandler($event)">
            <i class="fa fa-times"></i>
          </span>
        </div>

        <div class="pull-right">
          <div class="name text-right">
            {{ message.author.fullName }}
          </div>
          <ng-container *ngIf="isEditing">
            <app-client-contact-message-edit-form
                    [message]="message"
                    (onEdit)="onMessageEditHandler($event)"
                    (onCancel)="onMessageEditCancelHandler($event)"
            ></app-client-contact-message-edit-form>
          </ng-container>
          <div class="meg" *ngIf="!isEditing">
            <ng-container *ngIf="isDeleted">
              Message has been removed...
            </ng-container>
            <ng-container *ngIf="!isDeleted">
              {{ message.text }}
              <small class="text-muted inline-block font-italic" *ngIf="message.createdAt !== message.updatedAt">(edited)</small>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</ng-container>


<ng-container *ngIf="!isMine">

  <div class="msg-container msg-received">
    <div class="avatar">
      <app-user-avatar [user]="message.author" [size]="'small'"></app-user-avatar>
      <div class="send-time" app-date-time [value]="message.createdAt"></div>
    </div>
    <div class="msg-box" [ngClass]="isDeleted ? 'removed' : ''">
      <div class="inner-box pull-left" >
        <div class="pull-right">
          <div class="name text-left">
            {{ message.author.fullName }}
          </div>
          <div class="meg">
            <ng-container *ngIf="isDeleted">
              Message has been removed...
            </ng-container>
            <ng-container *ngIf="!isDeleted">
              {{ message.text }}
              <small class="text-muted inline-block font-italic" *ngIf="message.createdAt !== message.updatedAt">(edited)</small>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</ng-container>
