<div>

  <div class="pull-right">
    <a [routerLink]="'/client/profile/' + addressee.id" class="avatar-container m-small">
      <app-online-status-avatar [user]="addressee" [size]="'m-small'"></app-online-status-avatar>
    </a>
  </div>

  <div class="pull-right buttons">

    <ng-container *ngIf="!isLoading">

      <button class="btn btn-outline-danger btn-sm"
              type="button" [disabled]="isLoading"
              *ngIf="!isBlockedByMe"
              (click)="onBlockClickHandler($event)"
      >
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
        Block
      </button>

      <button class="btn btn-outline-secondary btn-sm"
              type="button" [disabled]="isLoading"
              *ngIf="isBlockedByMe"
              (click)="onUnBlockClickHandler($event)"
      >
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
        UnBlock
      </button>

    </ng-container>

  </div>


</div>
