<div class="container layout">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" style="text-align: center; color: #02c2e4; font-size: 30px; padding-bottom: 0; font-weight: bold;">
                    <span>Quick Language Practice</span>
                </div>
                <div class="icons">
                  <div class="icon">
                    <i class="fa fa-video"></i>
                  </div>
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                </div>
                <hr />
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="footer text-muted">
      <span>&copy; 2019</span>&nbsp;
      <span>Designed by <a href="https://www.facebook.com/pavelkolomitkin" target="_blank">Pavel Kolomytkin</a></span>
    </div>
</div>
