body
{
    background: #f1f2f7;
}

.form-control
{
    font-size: 0.9rem !important;
}

form, .form-label-color
{
    color: #909090 !important;
}

a
{
    text-decoration: none !important;
}

.nav-link
{
    cursor: pointer;
}

.toast {
    opacity: 1 !important;
}

.right-panel.client
{
    margin-left: 0 !important;
    float: none !important;
}

.client-new-message-toast
{
    padding: 0 !important;;
    background-color: #fff;
    box-shadow: 0 0 5px #99999957 !important;
}
